header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.navigation-wrapper {
  position: fixed;
  bottom: 1rem;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navigation-wrapper li a {
  border: 0.5px solid #0d6efd;
  background-color: lavender;
}
.navigation-wrapper li a:hover {
  background-color: gray;
  color: white;
  border: 0.5px solid gray;
}

.grid-fluid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  font-size: small;
}

.error {
  color: #fe5f55;
  font-size: 1rem;
}

.card img {
  width: auto;
  height: 200px;
}

.input-error {
  border: 2px solid #fe5f55;
  /* background-color: #fe5f55; */
}

.input-error-msg {
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fe5f55;
  /* font-weight: bold; */
  font-size: small;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 180px;
    width: 95%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
}
